
<form action="/user/create-account" method="POST">
    <label for="name">Name :</label> &nbsp;
    <input type="text" name="name" required>
    <br>
    <label for="email">Email Id :</label> &nbsp;
    <input type="email" name="email" required>
    <br>
    <label for="password">Password :</label> &nbsp;
    <input type="password" name="password" required>
    <br>
    <label for="confirmPass">Confirm Password :</label> &nbsp;
    <input type="password" name="confirmPassword" required>
    <input type="submit" value=" submit">
</form>